header {
    display: flex;
    background-color: rgba(255, 203, 173, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom-width: 3px;
    border-bottom-style:solid;
    border-bottom-color: coral; 
}

body {
    margin: 0px;
}

li { 
    display: inline-block; 
    font-family: cursive;
    font-weight: 100;
    font-size: 18px;
}
ul {
    padding-left: 746px;
    padding-top: 25px;
}
.a1 {
    text-decoration: none;
    color: black;
    padding-right: 15px;
}
.name {
     margin-top: 0px;
     padding-top: 25px;
     padding-left: 20px;
     font-family:cursive;
     font-weight: 100;
}

.logo {
    height: 80px;
    width: 80px;
    margin-top: 20px;
    margin-left: 70px;
}

.container {
    background-image: url("backgroundimg.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
}

body {
    background-image: url("back.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-name{
    font-size: 65px;
    margin: 0;
    padding-left: 260px;
    padding-top: 150px;
    font-family:cursive;
    font-weight: 100;
}

.main-description {
    font-size: 30px;
    margin: 0;
    padding-left: 270px;
    padding-top: 8px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 300;
}

.about {
    font-size: 20px;
    margin-top: 50px;
    margin-left:270px;
    padding: 5px;
    padding-left: 15px;
    font-family: "PT Sans", "Arial", sans-serif;
    width: 310px;
    border-left-width: 4px;
    border-left-style: solid;
    border-color: brown 
}


footer {
    background-color: coral;
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    font-size: 18px;
    padding-left: 15px;
    color: brown
}

footer img{
    height: 20px;
    padding: 5px
}

.catalog-container {
    width: 80%;
    margin: 0 auto;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.product-item {
    width: 30%;
    box-sizing: border-box;
    padding: 26px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
}

.product-item h3 {
    margin: 0;
    font-size: 1.8em;
}

.product-item p {
    margin: 15px 0;
}

.product-image {
    max-width: 450px;
    width: 250px; 
    height: 250px; 
    object-fit: cover; 
    display: block;
    margin: 0 auto 10px;
    border-radius: 8px; /* Опционально, добавляет скругление углов */
}

#save-order-btn {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 24px;
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
    background-color: brown;
    color:floralwhite;
    cursor: pointer;
}

#save-order-btn:hover {
    background-color: darkred;  
}

button.decrement, button.increment {
    background-color: #FFAB7C;  
    color: white;                
    font-size: 18px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;         
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;  
    margin: 5px;
}

button.decrement:hover, button.increment:hover {
    background-color: #FF8C42;  
    transform: scale(1.1);       
}

/* Стиль для ползунка категории */
#category-select {
    appearance: none;
    padding: 8px;
    font-size: 16px;
    border: 2px solid coral;
    background-color: #FDF5E6; 
    color: black;
    border-radius: 5px; 
    width: 80%;
    max-width: 150px;
    transition: all 0.3s ease;
    cursor: pointer; /* Изменение курсора на указатель */
}

/* Кнопка выбора при закрытом состоянии */
#category-select:focus {
    outline: #FDF5E6;
    border-color: #FFAB7C; 
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стиль раскрывающегося списка */
#category-select option {
    background-color: #FDF5E6; 
    color: black;
    padding: 8px;
    cursor: pointer; /* Изменение курсора */
}

/* Обновленный стиль для стрелки, чтобы она хорошо вписывалась */
#category-select::after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Адаптивные стили для экрана шириной меньше 900px */
@media screen and (max-width: 900px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    
    .logo {
        margin: 9px auto;
    }

    .name {
        text-align: center;
        padding-top: 9px;
        padding-left: 0;
    }

    ul {
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: center;
        gap: 10px;
    }

    li {
        display: inline;
        font-size: 16px;
    }

    .a1 {
        padding-right: 10px;
        cursor: pointer;
    }
    
    .main-name{
        text-align: center;
        padding-left: 0;
        padding-top: 210px;
    }
    
    .main-description {
        text-align: center;
        padding-left: 0;
    }

    .about {
    margin-top: 30px;
    margin-left:230px;
    }
    .product-item {
    flex: 0 0 calc(50% - 20px); /* Занимает 50% ширины строки минус отступ */
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    }

    .product-item h3 {
        margin: 0;
        font-size: 1.2em;
    }

    .product-item p {
        margin: 5px 0;
    }

    .product-image {
        max-width: 300px;
        width: 150px; 
        height: 150px; 
        object-fit: cover; 
        display: block;
        margin: 0 auto 10px;
        border-radius: 8px; /* Опционально, добавляет скругление углов */
    }
    
    #save-order-btn {
        margin-top: 10px;
        margin-left: 50px;
        font-size: 16px;
        padding: 10px 30px 10px 30px;
        border-radius: 25px;
        background-color: brown;
        color:floralwhite;
        cursor: pointer;
    }
}