header {
    display: flex;
    background-color: rgba(255, 203, 173, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom-width: 3px;
    border-bottom-style:solid;
    border-bottom-color: coral;  
}
body {
    margin: 0px;
}

.header_page li { 
    display: inline-block; 
    font-family: cursive;
    font-weight: 100;
    font-size: 18px;
}
ul {
    padding-left: 746px;
    padding-top: 25px;
}
.a1 {
    text-decoration: none;
    color: black;
    padding-right: 15px;
}
.name {
     margin-top: 0px;
     padding-top: 25px;
     padding-left: 20px;
     font-family:cursive;
     font-weight: 100;
}

.logo {
    height: 80px;
    width: 80px;
    margin-top: 20px;
    margin-left: 70px;
}

.container {
    background-image: url("backgroundimg.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
}

body {
    background-image: url("back.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-name{
    font-size: 65px;
    margin: 0;
    padding-left: 260px;
    padding-top: 150px;
    font-family:cursive;
    font-weight: 100;
}

.main-description {
    font-size: 30px;
    margin: 0;
    padding-left: 270px;
    padding-top: 8px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 300;
}

.about {
    font-size: 20px;
    margin-top: 50px;
    margin-left:270px;
    padding: 5px;
    padding-left: 15px;
    font-family: "PT Sans", "Arial", sans-serif;
    width: 310px;
    border-left-width: 4px;
    border-left-style: solid;
    border-color: brown 
}
footer {
    background-color: coral;
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    font-size: 18px;
    padding-left: 15px;
    color: brown
}

footer img{
    height: 20px;
    padding: 5px
}

.delete-icon {
    width: 30px; 
    height: 30px;
    cursor: pointer; 
    transition: transform 0.3s ease; 
}

.delete-icon:hover {
    transform: scale(1.1); 
}

.order-container {
    padding: 20px;
    margin: 20px;
    max-width: auto;
    background-color: #FDE5D6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#ordersTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

#ordersTable th {
    padding: 12px;
    border-bottom: 1px solid #fefae0;
    text-align: left;
}

#ordersTable th {
    background-color: #FDE5D6;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}

#ordersTable tbody tr {
    background-color: #FDE5D6; 
}

#ordersTable tbody tr:hover {
    background-color:  #fefae0;
}

#ordersTable td {
    position: relative;
    padding: 8px 15px;
    text-align: left;
}


.basket-total {
    font-size: 16px;
    color: brown;
}

.basket-total span {
    color: #b12704;
}

#ordersTable td .delete-button:hover {
    background-color: #c0392b;
}

#ordersTable td ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


/* Дополнительное оформление для эффекта кассового чека */
#ordersTable td::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #fefae0;
}

#ordersTable td:first-child {
    font-weight: bold;
    color: #444;
}

#ordersTable td:last-child {
    font-weight: bold;
    color: #b12704; /* Красноватый оттенок для итоговой суммы */
}

.products-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-item {
    display: flex;
    justify-content: space-between;
    padding: 2px 0;
    font-size: 14px;
    border-bottom: 1px dashed #ddd; /* Линия между товарами */
}

.product-item {
        padding: 10px 0;  /* Немного отступов для товаров */
        border-bottom: 1px dashed #ddd;  /* Линия разделения между товарами */
        font-size: 14px;
        display: block;  /* Каждый товар — блок, чтобы перейти на новую строку */
    }

.product-name {
    text-align: left;
    color: #333;
}

.product-item:last-child {
    border-bottom: none;
}

.product-qty-price {
    text-align: right;
    color: #555;
}

#placeOrderButton{
    margin-top: 30px;
    margin-left:470px;
    font-size: 16px;
    padding: 8px 20px 8px 20px;
    border-radius: 25px;
    background-color: brown;
    color:floralwhite;
    cursor: pointer;
}

/* Адаптивные стили для экрана шириной меньше 900px */
@media screen and (max-width: 900px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    
    .logo {
        margin: 9px auto;
    }

    .name {
        text-align: center;
        padding-top: 9px;
        padding-left: 0;
    }

    ul {
        display: flex;
        padding: 0;
        margin: 0;
        gap: 10px;
    }

    li {
        display: inline;
        font-size: 16px;
    }

    .a1 {
        padding-right: 10px;
        cursor: pointer;
    }
    
    .main-name{
        text-align: center;
        padding-left: 0;
        padding-top: 210px;
    }
    
    .main-description {
        text-align: center;
        padding-left: 0;
    }

    .about {
    margin-top: 30px;
    margin-left:230px;
    }
    
}