header {
    display: flex;
    background-color: rgba(255, 203, 173, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom-width: 3px;
    border-bottom-style:solid;
    border-bottom-color: coral; 
}

body {
    margin: 0px;
}

li { 
    display: inline-block; 
    font-family: cursive;
    font-weight: 100;
    font-size: 18px;
}
ul {
    padding-left: 830px;
    padding-top: 25px;
}
.a1 {
    text-decoration: none;
    color: black;
    padding-right: 15px;
}
.name {
     margin-top: 0px;
     padding-top: 25px;
     padding-left: 20px;
     font-family:cursive;
     font-weight: 100;
}

.logo {
    height: 80px;
    width: 80px;
    margin-top: 20px;
    margin-left: 70px;
}

.container {
    background-image: url("backgroundimg.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
}

body {
    background-image: url("back.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-name{
    font-size: 65px;
    margin: 0;
    padding-left: 260px;
    padding-top: 150px;
    font-family:cursive;
    font-weight: 100;
}

.main-description {
    font-size: 30px;
    margin: 0;
    padding-left: 270px;
    padding-top: 8px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 300;
}

.about {
    font-size: 20px;
    margin-top: 50px;
    margin-left:270px;
    padding: 5px;
    padding-left: 15px;
    font-family: "PT Sans", "Arial", sans-serif;
    width: 310px;
    border-left-width: 4px;
    border-left-style: solid;
    border-color: brown 
}


footer {
    background-color: coral;
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    font-size: 18px;
    padding-left: 15px;
    color: brown
}

footer img{
    height: 20px;
    padding: 5px
}

.container1 {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.auth-form {
  display: none;
  margin-bottom: 20px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
    
}

.auth-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.auth-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: brown;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  margin-top: 10px;
}

.auth-options {
  display: flex;
  justify-content: center;
}

.auth-options button {
  margin: 0 10px;
  background-color: brown;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
}
.button1 {
  padding: 10px 54px;
}
.button2 {
  padding: 10px 20px;
}

.containerimg img {
    width: 450px;
    height: 300px;
    margin: 10px;
    border: 10px solid #fefae0;
    transition-duration: 1s;
}

.containerimg img:hover {
    border: 5px solid #fff;
    transform: scale(1.1);
    filter: none;
}

.containerimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Адаптивные стили для экрана шириной меньше 900px */
@media screen and (max-width: 900px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    
    .logo {
        margin: 9px auto;
    }

    .name {
        text-align: center;
        padding-top: 9px;
        padding-left: 0;
    }

    ul {
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: center;
        gap: 10px;
    }

    li {
        display: inline;
        font-size: 16px;
    }

    .a1 {
        padding-right: 10px;
    }
    
    .main-name{
        text-align: center;
        padding-left: 0;
        padding-top: 210px;
    }
    
    .main-description {
        text-align: center;
        padding-left: 0;
    }

    .about {
    margin-top: 30px;
    margin-left:230px;
    }

}